<div class="container" id="products">
  <div class="row product-row justify-content-left">
    <div class="col-6 col-sm-4 col-md-3">
      <div class="product-display">
        <img src="" alt="">
        <p>ProductName</p>
        <p>Price</p>
        <p>Seller</p>
      </div>
    </div>
    <!-- <div class="col-6 col-sm-4 col-md-3">
      <div class="product-display">
        <img src="" alt="">
        <p>ProductName</p>
        <p>Price</p>
        <p>Seller</p>
      </div> -->
    <!-- </div>
    <div class="col-6 col-sm-4 col-md-3">
      <div class="product-display">
        <img src="" alt="">
        <p>ProductName</p>
        <p>Price</p>
        <p>Seller</p>
      </div>
    </div> -->
    <!-- <div class="col-6 col-sm-4 col-md-3">
      <div class="product-display">
        <img src="" alt="">
        <p>ProductName</p>
        <p>Price</p>
        <p>Seller</p>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <div class="product-display">
        <img src="" alt="">
        <p>ProductName</p>
        <p>Price</p>
        <p>Seller</p>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <div class="product-display">
        <img src="" alt="">
        <p>ProductName</p>
        <p>Price</p>
        <p>Seller</p>
      </div>
    </div> -->
  </div>
</div>
