<div class="container product-popup">
  <h1>Embroidered Shirt</h1>
  <img src="https://i.etsystatic.com/20553919/r/il/729255/2292852133/il_1588xN.2292852133_2xr2.jpg" alt="cute embroidered shirt">
  <h2>SOLD</h2>
  <a><p>Message seller</p></a>
  <p>This is the description</p>
  <p>Listed by: Eileen</p>
  <p>Listed on: date</p>
</div>
