<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- local stylesheet -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Scripts -->
    <script src="scripts/network.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>
    <script type="text/javascript" src="/scripts/listings.js"></script>
    <script type="text/javascript" src="/scripts/messaging.js"></script>
  </head>
  <body>
    <header class="title">
      <nav>
        <div class='nav-left'>
          <a href="#" class='home-button'><h1>Stuffs.com</h1></a>
          <p class="motto">Spare-Time Arts & Crafts<br>By Your Local Community</p>
        </div>
        <form class="login" class="visible">
        </form>
        <div class='right-buttons invisible'>
          <button class="btn btn-primary add-listing admins-only invisible">Add Listing</button>
          <button class="btn btn-primary see-favorites customers-only invisible">My Faves</button>
          <button class="btn btn-primary messages-button invisible">Inbox</button>
          <button class="btn btn-secondary logout invisible">Logout</button>
        </div>
      </nav>
      <div class="search-div">
        <div class="search">
        <form class="search-form">
          <button type="submit" class='search-button'>Search Creations</button>
        </form>
        </div>
      </div>
    </header>
    <div class="main-container">
      <div class="container" id="products">
        <div class="row product-row justify-content-left">
        </div>
      </div>
    </div>
  </body>
  <!-- Bootstrap JS-->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>
