//CSS for nav bar and search bars
%flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

%flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  @extend %flex-col-center;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;

  form {
    @extend %flex-row-center;
    width: 80vw;
  }
  .search {
    @extend %flex-row-center;
    margin-top: 10px;
    width: 100vw;
    input {
      width: 100%;
      margin-right: 10px;
    }
  }

  nav {
    @extend %flex-row-center;
    width: 100%;
    background-color: yellow;
    padding-bottom: 10px;

    .login {
      padding-top: 10px;
    }
  }
  * {
    font-family: 'MuseoModerno', cursive;
  }
}

