//CSS for nav bar and search bars
%flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

%flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  @extend %flex-col-center;
  width: 100%;
  margin-bottom: 10px;

  .search-div {
    @extend %flex-col-center;
    width: 100%;

    button {
      background-color: rgb(235, 235, 235);
      color: hotpink;
    }
    .search-popup {
      p, label {
        color: black;
      }
      .form-top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      margin-top: 10px;
      width: 80%;
      background-color: forestgreen;
      .search-submit-button {
        @extend %flex-row-center;
      }
      .search-submit-button {
        margin: auto;
      }
    }
  }
  .search-form {
    @extend %flex-row-center;
    width: 80vw;
  }

  .search {
    @extend %flex-row-center;
    margin-top: 10px;
  }

  nav {
    @extend %flex-row-center;
    justify-content: space-between;
    width: 100%;
    background-color: yellow;

    .login {
      display: flex;
      flex-direction: row;
      align-items: right;
      padding-top: 10px;
      height: 30%;
    }
    input {
      width: 30%;
    }
    .nav-left {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }
    .motto {
      font-size: 1em;
      color: forestgreen;
      font-weight: bolder;
    }
    p {
      display: flex;
      justify-content: center;
    }
  }

  * {
    font-family: 'MuseoModerno', cursive;
  }

}

