@import 'header';

%box {
  background-color: maroon;
  padding: 10px;
  padding-top: 30px;
  display: flex;
}

@media only screen and (min-width: 768px){
  .container.product-popup {

    img {
      height: auto;
      width: auto;
      max-width: 70%;
      max-height: 300px;
    }
  }
}

body {
  background-color: aqua;
}

.admins-only {
  display: none;
}

.invisible {
  display: none;
}
.visible {
  display: block;
}

.product-popup {
  @extend %box;
  flex-direction: column;
  padding-top: 0px;
  h1 {
    background-color: rgb(255, 255, 0);
    padding: 7px;
    width: 80%;
    text-align: center;
    font-size: 5vw;
    margin: auto;
  }
  h2 {
    text-align: center;
    color: white;
  }
  img {
    margin: auto;
    margin-top: 10px;
    width: 90%;
    padding: 10px;
  }
  p {
    background: yellow;
    font-size: 1em;
  }
  .product-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  p.customers-only {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    background-color: transparent;
  }
}

.featured-title {
  background-color: orange;
  color: white;
}

.product-row {
  @extend %box;
  flex-direction: row;
}

.product-box {
  color: white;
  background-color: rgb(29, 0, 109);
  background-size: contain;
}

.listing-container h2 {
  color: white;
  font-family: 'Pacifico', cursive, sans-serif;
  padding-bottom: 10px;
}

.listing-message {
  color: white;
  font-size: 1em;
  margin-top: 20px;
}

.new-product-form {
  display: flex;
  flex-direction: column;

  .new-product-form__field-wrapper {
    margin-bottom: 10px;
    padding-left: 0;
    a {
      color: white;
    }
    button {
      color: white;
      background-color: blue;
    }
    a:hover{
      color: red;
    }
    button:hover {
      opacity: 50%;
    }
  }
}
