@import 'header';

%box {
  background-color: maroon;
  padding: 10px;
  padding-top: 30px;
  display: flex;
}

@media only screen and (min-width: 768px){
  .container.product-popup {
    img {
      height: auto;
      width: auto;
      max-width: 70%;
      max-height: 300px;
    }
  }
}

body {
  background-color: aqua;
}

.product-popup {
  @extend %box;
  flex-direction: column;
  h1 {
    background-color: rgb(255, 255, 0);
    padding: 7px;
    width: 80%;
    text-align: center;
    font-size: 5vw;
    margin: auto;
  }
  h2 {
    text-align: center;
    color: white;
  }
  img {
    margin: auto;
    margin-top: 10px;
    width: 90%;
    padding: 10px;
  }
  p {
    background: yellow;
    font-size: 1em;
  }
}


.product-row {
  @extend %box;
  flex-direction: row;
}

.product-box {
  color: white;
  background-image: url("https://i.etsystatic.com/20553919/r/il/729255/2292852133/il_1588xN.2292852133_2xr2.jpg");
  background-size: contain;
}
